.shopping-cart-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.qunatity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.remove-item-btn {
    background: red;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.shopping-cart-btn {
    background: green;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    float: left;
    cursor: pointer;
}